
<%= stylesheet_link_tag "custom" %>

<% userId = user_id(session[:user_name])%>
<div class="left_col scroll-view">
	
  <!-- menu profile quick info -->
  <div class="profile clearfix" style="padding-top: 10px">
    <div class="profile_info">
      <p>Welcome, <%= session[:user_name] %></p>
    </div>
    <hr>
  </div>

  <!-- /menu profile quick info -->
  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <!-- <h3>General</h3> -->
      <ul class="nav side-menu">
        <!-- Now view -->
        <li ><%= link_to '<i class="fa fa-users"></i> Users list'.html_safe, users_path %>

<!--           <ul class="nav child_menu">
            <li id="" >
              <a id="">Infrastructures</a>    
            </li>
          </ul> -->
        </li>
        <!-- /Now view -->
        <!-- Usage view -->
        <li><%= link_to '<i class="fa fa-pencil"></i> Edit profile'.html_safe, edit_user_path(userId)  %>
          <ul class="nav child_menu">
            <li>
              <a id="select_nav">Select Report</a>
              <ul class="nav child_menu" style="">
                  <li class="sub_menu"><a id="report_type"></a></li>
              </ul>

            </li>
          </ul>
        </li>
        <!-- /Usage view -->  
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>
