<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>

<%= link_to 'Edit', edit_note_path(@note), class: 'btn btn-default' %>
<%= link_to 'Back', notes_path, class: 'btn btn-default' %>
